{% if info is not none %}
# {{ info }}
{% endif %}
import sys
sys.path.append("fns")

{{ header }}

def get_ctx():
    ctx = np.array({{dots}})
    return ctx

{{ code }}

print([tuple(x) for x in state])

#print(sorted(
#    [tuple(x) for x in state],
#    key = lambda x: get_minimum_radius(x, ctx),
#))
