{% if info is not none %}
#{{ info }}

{% endif %}
import sys
sys.path.append("code")

{{ header }}

def get_dots():
    dots = np.array({{dots}})
    return dots

{{ code }}
#print(context)
# context: num_candidates x size x feats=4
# dots: 7 x feats=4
# heuristic: take first candidate res[0]
res = (np.array(context)[:,None] == dots[:,None]).all(-1)
print(res[0].nonzero()[0].tolist())
