Describe the following:
* A very small and dark dot
* A very small and dark dot
Answer: i have two small dark dots pretty separated from the others

Them: I have a medium sized black with a smaller, also black dot very close below it and slightly to the right
Describe the following:
* A very large and dark dot
Answer: my largest dot is medium dark and all by itself

Them: two dots very close togeher and med grey?
You: no do you have a dark dot by itself
Them: no. do you have a kind of small black dot?
Describe the following:
* A small and dark dot
* A small and grey dot
Answer: is it near a a med color grey dot

You: I have a large black dot, with an equally sized dark grey dot down and to the right
Them: Do you have a large black dot all the way a the top left, touching the outline?
You: Our outlines are different. Does it have the large dark grey down and to the right
Them: No. It does not
Describe the following:
* A small and dark dot
* A small and grey dot
Answer: Ok, then I don't think I have it. Do you have a tiny very dark grey dot, with another tiny, but slightly larger dot up and to the left?

You: I have TWO large grey dots beside each other
Them: I have two large near each other, but with mine the left one is higher.
You: I have that. Is the one on the right darker?
Them: no, they are the same color. how about one black dot thats very small?
Describe the following:
* A small black dot
Answer: I have that. It's the only black dot right?

{{past}}
Describe the following:
{{plan}}
Answer:
