Conversation start

Text: Got a triangle of 3 light grey dots by itself.
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A B C
* A light
* B light
* C light
* A B C triangle
* A B C alone
END

Text: Could be. One on right is largest with tiny gray on top?
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Previous dots A B C
* A largest of A B C
* B tiny
* B grey
* B top of A B C
END

Text: Nevermind. Do you see a pair of dark dots? One with another above and to the right of it? Same size as well.
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
Give names to the dots and list the properties described.
* New dots A B
* A pair B
* A dark
* B dark
* B above right A
* A same size B
END

Text: No.
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
END

Text: What about a large medium grey dot near the center?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A
* A large
* A grey
* A near center
END

Text: Is there a smaller black one next to it?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* Previous dots A
* New dots B
* B black
* B smaller than A 
* A next to B
END

Text: No. Do you see three dots in a diagonal line, where the top left dot is light, middle dot is grey, and bottom right dot is dark?
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
Give names to the dots and list the properties described.
* New dots A B C
* A light
* B grey
* C dark
* A B C diagonal line
* A is top left A B C
* B is middle A B C
* C is bottom right A B C
END

Text: Yes. Is the top one close to the middle darker one?
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Prev dots A B C
* A is top of A B C
* B is middle of A B C
* A darker than B
END

Text: Yes. And the smallest is on the bottom right.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Prev dots A B C
* A is smallest in A B C
* A is bottom right of A B C
END

Text: Yes, let's select the large one. <selection>.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
END

Conversation end

Conversation start

Text: Do you see a large black dot on the bottom left?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* 
END

 
# Them: I see a large black dot next to two smaller lighter dots. The two smaller ones are the same size and color. We have different views though.
def turn(state):
    # New question.
    results = []
    for x,y,z in get3idxs(idxs):
        check_xyz_close = all_close([x,y,z], ctx)
        check_x_large = is_large(x, ctx)
        check_z_dark = is_dark(z, ctx)
        check_y_smaller_x = are_smaller([y], [x], ctx)
        check_z_smaller_x = are_smaller([z], [x], ctx)
        check_y_lighter_x = are_lighter([y], [x], ctx)
        check_z_lighter_x = are_lighter([z], [x], ctx)
        check_yz_same_size = same_size([y,z], ctx)
        check_yz_same_color = same_color([y,z], ctx)
        if (
            check_xyz_close
            and check_x_large
            and check_z_dark
            and check_y_smaller_x
            and check_z_smaller_x
            and check_y_lighter_x
            and check_z_lighter_x
            and check_yz_same_size
            and check_yz_same_color
        ):
            results.append([x,y,z])
    return results
state = turn(state)
# End.

# You: Select the largest one.
def turn(state):
    # Follow up question.
    results = []
    for a,b,c in state:
        largest_one = get_largest([a,b,c], ctx)
        results.append(largest_one)
    return results
state = turn(state)
# End.
 
# Them: Okay.
def turn(state):
    # No op.
    return state
state = turn(state)
# End.
 
# You: Okay. <selection>.
def select(state):
    # Select a dot.
    return state
state = select(state)
# End.


Text: {{text}}
State whether this sentence confirms or denies or neither. 
Confirmation:
