Conversation start

Text: Got a triangle of 3 light grey dots by itself.
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A B C
* A light
* B light
* C light
* A B C triangle
* A B C alone
End.

Text: Could be. One on right is largest with tiny gray on top?
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Previous dots A B C
* A largest of A B C
* B tiny
* B grey
* B top of A B C
End.

Text: Nevermind. Do you see a pair of dark dots? One with another above and to the right of it? Same size as well.
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
Give names to the dots and list the properties described.
* New dots A B
* A pair B
* A dark
* B dark
* B above right A
* A same size B
End.

Text: No.
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
End.

Text: What about a large medium grey dot near the center?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A
* A large and grey
* A near center
End.

Text: Is there a smaller black one next to it?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* Previous dots A
* New dots B
* B black
* B smaller than A 
* A next to B
End.

Text: No. Do you see three dots in a diagonal line, where the top left dot is light, middle dot is grey, and bottom right dot is dark?
State whether this sentence confirms or denies or neither. 
Confirmation: Deny.
Give names to the dots and list the properties described.
* New dots A B C
* A light
* B grey
* C dark
* A B C diagonal line
* A is top left A B C
* B is middle A B C
* C is bottom right A B C
End.

Text: Yes. Is the top one close to the middle darker one?
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Previous dots A B C
* A is top of A B C
* B is middle of A B C
* A darker than B
End.

Text: Yes. And the smallest is on the bottom right.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Previous dots A B C
* A is smallest in A B C
* A is bottom right of A B C
End.

Text: Yes, let's select the large one. <selection>.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
End.

Conversation end

Conversation start

Text: Do you see a large black dot on the bottom left?
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A
* A large and black
* A is bottom left
End.

Text: I see a large black dot next to two smaller lighter dots. The two smaller ones are the same size and color. We have different views though.
State whether this sentence confirms or denies or neither. 
Confirmation: Neither.
Give names to the dots and list the properties described.
* New dots A B C
* A large and black
* B smaller and lighter than A
* C smaller and lighter than A
* B C same size and color
End.

Text: Select the largest one.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
Give names to the dots and list the properties described.
* Previous dots A B C
* A largest
End.

Text: Okay.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
End.

Text: Okay. <selection>.
State whether this sentence confirms or denies or neither. 
Confirmation: Confirm.
End.

Conversation end

Conversation start
{% if past is defined and past|length > 0 %}{% for block in past %}
Text: {{ block[0] }}
State whether this sentence confirms or denies or neither. 
Confirmation: {{ block[1] }}
End.
{% endfor %}{% endif %}
Text: {{text}}
State whether this sentence confirms or denies or neither. 
Confirmation:
