{{ header }}

dots = get_dots()
context = []

# Them: got a triangle of 3 light grey dots.
def turn(dots, context):
    results = context
    for x,y,z in get3dots(dots):
        if is_triangle([x,y,z], dots) and all(map(is_light, [x,y,z])):
            results.append([x,y,z])
    return results
context = turn(dots, context)

# You: Could be. One on right is largest?
def turn(dots, context):
    results = context
    for result in results:
        if largest(result) == get_right(result):
            results.append(result)
    return results
context = turn(dots, context)

# Them: Nevermind. Do you see a pair of dark dots?
def turn(dots, context):
    results = []
    for result in get2dots(dots):
        if is_close(result) and all(map(is_dark, result)):
            results.append(result)
    return results
context = turn(dots, context)

# You: No.
def turn(dots, context):
    results = []
    return results
context = turn(dots, context)

# Them: What about a large medium grey dot?
def turn(dots, context):
    results = []
    for dot in dots:
        if is_large(dot):
            results.append(dot)
    return results
context = turn(dots, context)

# You: Don't see that either.
def turn(dots, context):
    results = []
    return results
context = turn(dots, context)


dots = get_dots()
context = []
{% if past is defined and past|length > 0 %}

{% for block in past %}
# {{ block[0] }}
{{ block[1] }}
{% endfor %}
{% endif %}

# {{text}}
