from dot import get_dots
from shapes import is_triangle, is_line, is_square
from spatial import is_close, is_above, is_below, is_right, is_left
from spatial get_top, get_bottom, get_right, get_left, get_top_right, get_top_left, get_bottom_right, get_bottom_left
from color import is_black, is_grey, is_light
from size import is_large, is_small, largest, smallest
from iterators import get2dots, get3dots

dots = get_dots()

# Them: got a triangle of 3 black dots.
def turn(dots, context):
    results = context
    for x,y,z, in get3(dots):
        if is_triangle(x,y,z) and all(map(is_black, [x,y,z])):
            results.append([x,y,z])
    return results

# You: Could be. One on right is smallest?
def turn(dots, context):
    results = context
    for result in results:
        if smallest(result) == get_right(result):
            results.append(result)
    return results

# Them: Nevermind. Do you see a pair of light dots?
def turn(dots, context):
    results = get2dots(dots)
    for result in results:
        if smallest(result) == get_right(result):
            results.append(result)
    return results

# You: 

{{past}}
# {{text}}
