from dot import get_dots
from shapes import is_triangle, is_line, is_square
from spatial import is_close, is_above, is_below, is_right, is_left
from spatial get_top, get_bottom, get_right, get_left, get_top_right, get_top_left, get_bottom_right, get_bottom_left
from color import is_black, is_grey, is_light
from size import is_large, is_small, largest, smallest
from iterators import get2dots, get3dots


dots = get_dots()
context = []

# Them: got a triangle of 3 light dots.
def turn(dots, context):
    results = context
    for x,y,z, in get3(dots):
        if is_triangle(x,y,z) and all(map(is_light, [x,y,z])):
            results.append([x,y,z])
    return results
context = turn(dots, context)

# You: Could be. One on right is largest?
def turn(dots, context):
    results = context
    for result in results:
        if largest(result) == get_right(result):
            results.append(result)
    return results
context = turn(dots, context)

# Them: Nevermind. Do you see a pair of light dots?
def turn(dots, context):
    results = []
    for result in get2dots(dots):
        if is_close(result) and all(map(is_light(result))):
            results.append(result)
    return results
context = turn(dots, context)

# You: No.
def turn(dots, context):
    results = []
    return results
context = turn(dots, context)
{% if past is defined and past|length > 0 %}

{% for block in past %}
# {{ block[0] }}
{{ block[1] }}
{% endfor %}
{% endif %}

# {{text}}
