from dot import Dot
from shapes import is_triangle, is_line
from spatial import is_close, is_above, is_below, is_right, is_left
from spatial get_top, get_bottom, get_right, get_left, get_top_right, get_top_left, get_bottom_right, get_bottom_left
from color import is_black, is_grey, is_light
from size import is_large, is_small, largest, smallest
from iterators import get3

{{}}
{{}}


