Text: Got a triangle of 3 light grey dots by itself.
Do they see what you asked about?
Confirmation: None

Text: Do you see a pair of dark dots? One with another above and to the right of it? Same size as well.
Do they see what you asked about?
Confirmation: None

Text: Nevermind. Do you see a pair of dark dots? One with another above and to the right of it? Same size as well.
Do they see what you asked about?
Confirmation: No

Text: Yes. Is the top one close to the middle darker one?
Do they see what you asked about?
Confirmation: Yes

Text: No.
Do they see what you asked about?
Confirmation: No

Text: {{text}}
Do they see what you asked about?
Confirmation:
