{% if info is not none %}
# {{ info }}
{% endif %}

{{ header }}

def get_ctx():
    ctx = np.array({{dots}})
    return ctx

idxs = list(range(7))

# New.
ctx = get_ctx()
state = []

{% for block in blocks %}
def turn(state):
{% if block.noop %}
{% else %}
    results = set()
    orderedresults = []
    parents = []
    for config in {{block.configs}}:
        for {{block.olddots}} in permutations(config):
            for {{block.newdots}} in {{block.newconfigs}}:
                {% for constraint in block.constraints %}}
                {{ constraint.name }} = {{ constraint.code }}
                {% endfor %}
                if (
                    True 
                    {% for constraint in constraints %}
                    and {{ constraint.name }}
                    {% endfor %}
                ):
                    dots = frozenset([{{dots}}])
                    if dots not in results:
                        results.add(dots)
                        orderedresults.append(dots)
                        parents.append(config)
    return sort_state(orderedresults, parents, ctx, select={{ block.select }})
{% endif %}
state = turn(state)
{% endfor %}

print([tuple(x) for x in state])

