{{ header }}

idxs = list(range(7))

# New.
ctx = get_ctx()
state = []

{% for block in blocks %}
# {{ block.speaker }}: {{ block.text }}
    for config in {{ clobk.config }}:
        for {{ block.configdots }} in permutations(config):
            for {{ block.newdots }} in {{ block.newconfigs }}:
                {%- for constraint in block.constraints %}
                {{ constraint.name }} = {{ constraint.code}}
                {%- endfor %}
# End.
{% endfor %}

# {{speaker}}: {{ text }}
