Translate the text into code.
These are the available functions.
```
{{ header }}
```
`idxs = list(range(7))` corresponds to the available dots.

Here are some examples.
{% for block in blocks %}
{{block}}
{% endfor %}
Text: {{ text }}
Type: {{ type }}{% if type == "No op." %}
Code:
```{% elif type == "New question." %}
Dots: {{dots}}
Code:
```{% elif type == "Follow up question, no new dots." %}
Previous dots: {{prev_dots}}
Code:
```{% elif type == "Follow up question, new dots." %}
Previous dots: {{prev_dots}}
Dots: {{dots}}
Code:
```
{% elif type == "Select a dot." %}
Previous dots: {{prev_dots}}
Code:
```{% endif %}
